<h1>Profile for <%= @user.name %></h1>

<p>Email: <%= @user.email %></p>

<h3>Shows Attended:</h3>
<% @concerts_attended.each do |concert| %>
  <p><%= link_to concert.date, concert %> (<%= format_bands_list(concert) %>)</p>
<% end %>

<p>
  <%= link_to "Edit Account", edit_user_path(@user), class: "btn btn-primary", role: "button" %>
  <%= link_to "Delete Account", @user, method: :delete, data: { confirm: "Are you sure you want to permanently delete your account?" }, class: "btn btn-danger", role: "button" %>
</p>