<h1><%= pluralize(@concerts.size, "Concert") %></h1>

<% @concerts.each do |concert| %>
  <h2><%= link_to concert.date, concert %></h2>
  <p><%= concert.venue %> | <%= concert.location %></p>
<% end %>

<p><%= link_to "Add New Concert", new_concert_path %></p>