<h1>Viewing <%= @concert.date %></h1>

<% @bands.each do |band| %>
  <p><%= link_to band.name, band %></p>
<% end %>

<p><%= @concert.venue %> | <%= @concert.location %></p>

<p>
  <%= link_to 'Edit', edit_concert_path(@concert), class: "btn btn-default", role: "button" %>
  <%= link_to 'Delete', @concert, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger", role: "button" %>
</p>