<%= form_for(@band) do |f| %>
  <%= render "shared/errors", object: @band %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Cancel', bands_path, class: "btn btn-danger", role: "button" %>
  </p>
<% end %>